<h1>This is your purchase</h1>
<p><%= @product.title%></p>
<p><%= @product.subtitle%></p>
<p>$<%= @product.price%></p>
<p><%= @product.description%></p>
<p>Your purchase is <%= @purchase.inspect %></p>
<p>Here is <a href=https://s3-us-west-2.amazonaws.com/rails-shoppingapp-bucket/hotpot.jpg>you file</p>

<img src='https://s3-us-west-2.amazonaws.com/rails-shoppingapp-bucket/thanks.jpg'/>