<h1>This is your purchase</h1>
<<<<<<< HEAD
<h3>Product title is :<%= @product.title%></h3>
<h3>Product subtitle is :<%= @product.subtitle%></h3>
<h3>Product price is :$<%= @product.price%></h3>
<h3><%= @product.description%></h3>

<h3>Here is <a href=https://s3-us-west-2.amazonaws.com/rails-shoppingapp-bucket/bag.jpg>you file</h3>
=======
<p>Your purchase is <%= @purchase.inspect %></p>
<p>Here is <a href=https://s3-us-west-2.amazonaws.com/rails-shoppingapp-bucket/hotpot.jpg>you file</p>
>>>>>>> 4a859e6580592cd900e2035aa18e6193abb93ef2

<img src='https://s3-us-west-2.amazonaws.com/rails-shoppingapp-bucket/thanks.jpg'/>