<h1>Products List</h1>

<section id="products">

	<%= @products.each do |product|%>
	<div  class="product prefix">
		<a href="<%= product_path(product)%>">
		<img  class="productimg" src="<%=asset_path product.image_name %>" alt="<%= product.title %>"/>
		
	</div>
	<p  style="font-size: 30px; text-align:center " class="product-title">price :$<%= product.price%></p>
    <p  style="font-size: 30px; text-align:center " class="product-title">name :<%= product.title%></p>
    </a>
	
	<% end %>

</section>